.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 50vh;
  padding-top: 10%;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

body {
  background-color: #282c34 !important;
}

.py-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  h1 {
    margin-top: 32px;
    font-size: 2rem;
  }
  h4 {
    font-size: large;
  }
}

.run-analysis {
  margin-top: 32px;
  background-color: rgba(255, 255, 255, 0.20);
  border-radius: 4px;
  padding: 16px 48px;
  width: 50%;
}